button {
    color: rgb(255, 91, 25);
    background-color: rgb(254, 253, 255);
    fill-opacity: 0%;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 15px 15px 15px 15px;
    border-color: rgb(255, 85, 33);
    border-style: solid;
    opacity: 0.5;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.landing-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    color: rgb(83, 64, 54);
    opacity: 0.7;
}

.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(83, 64, 54);
    opacity: 0.7;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.createpet-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(83, 64, 54);
    opacity: 0.7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
}

.input-fields {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 25px;
    display: block;
    border-radius: 8px 8px 8px 8px;
    margin-left: auto;
    margin-right: auto;
}

  .input-container {
    display: grid;
    grid-gap: 40px;
    justify-content: space-evenly;
    float: right;
    padding-right: 30px;
    margin-top: 140px;
  }

  .petInfo-text-container {
    width: 70px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    color: rgb(83, 64, 54);
    opacity: 0.7;
  }

  .input-rowcol1 {
    grid-column: 1;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol2 {
    grid-column: 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol3 {
    grid-column: 1;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol4 {
    grid-column: 2;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol5 {
    grid-column: 1;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol6 {
    grid-column: 2;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol7 {
    grid-column: 3 / span 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol8 {
    grid-column: 3 / span 2;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol9 {
    grid-column: 3 / span 2;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol10 {
    grid-column: 4;
    grid-row: 4;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    text-decoration: none;
  }

  .createpet-container {
    display: grid;
    grid-gap: 55px;
    justify-content: space-evenly;
    float: left;
    padding-left: 30px;
  }

  .grid-images {
      width: 80px;
      height: 120px;
  }

  .chosen-pet {
    width: 130px;
    height: 180px;
  }

  .row-col1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col2 {
    grid-column: 1;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col3 {
    grid-column: 2;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col4 {
    grid-column: 1;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col5 {
    grid-column: 2;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col6 {
    grid-column: 3 / span 2;
    grid-row: 2 /span 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    padding-left: 70px;
  }

  .petPage-container {
    display: grid;
    grid-gap: 45px;
    justify-content: space-evenly;
    float: left;
    padding-left: 30px;
  }

  .petPage-grid-images {
    width: 200px;
    height: 290px;
}

.petPage-row-col1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col2 {
  grid-column: 3;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col3 {
  grid-column: 4;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col4 {
  grid-column: 3;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col5 {
  grid-column: 4;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col6 {
  grid-column: 3;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col7 {
  grid-column: 4;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col8 {
  grid-column: 3;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col9 {
  grid-column: 4;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col10 {
  grid-column: 1 / span 2;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-stats-title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 18px;
  color: rgb(36, 30, 27);
  opacity: 0.7;
}

.user-info-container1 {
  display: grid;
  grid-gap: 25px;
  justify-content: space-evenly;
  float: left;
  padding-left: 30px;
}

.userPage-row-col1 {
  grid-column: 1 ;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col2 {
  grid-column: 1 ;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col3 {
  grid-column: 1;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col4 {
  grid-column: 2;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col5 {
  grid-column: 2;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col6 {
  grid-column: 2;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 15px;
  color: rgb(83, 64, 54);
  opacity: 0.7;
  padding-top: 6px;
}

.user-info-container2 {
display: grid;
grid-gap: 25px;
justify-content: space-evenly;
position: relative;
margin-left: auto;
margin-right: auto;
padding-left: 30px;
}

.userPage-row-col7 {
  grid-column: 1 / span 2;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-row-col8 {
  grid-column: 1 / span 2;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-petimg {
  width: 100px;
  height: 195px;
}









