body {
 background-color: rgb(105, 165, 153);
 font-family: Verdana, Arial, Helvetica, sans-serif;;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.landing-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-size: 1.2vw;
    color: rgb(3, 3, 3);
}

.landing-container {
  display: grid;
  grid-gap: 40px;
  justify-content: space-evenly;
  width: 40px;
  height: 70px;
  margin-left: 40px;
  margin-top: 30px;
}

.landing-row-col1 {
  grid-column: 1;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.landing-row-col2 {
  grid-column: 1;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.title {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    text-align: center;
    font-size: 30px;
    color: rgb(83, 64, 54);
    opacity: 0.7;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.createpet-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    text-align: center;
    font-size: 13px;
    color: rgb(0, 0, 0);
    display: block;
    margin-top: -2vh;
}

.register-container {
  display: grid;
  grid-gap: 25px;
  justify-content: space-evenly;
  width: 200px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.input-fields-row-col1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.input-fields-row-col2 {
  grid-column: 1 / span 2;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.input-fields-row-col3 {
  grid-column: 1 / span 2;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.input-fields-row-col4 {
  grid-column: 1 / span 2;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.input-fields-row-col5 {
  grid-column: 1 / span 2;
  grid-row: 5;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

  .input-container {
    display: grid;
    grid-gap: 5vh;
    justify-content: space-evenly;
    padding-right: 4vw;
    }

  .petInfo-text-container {
    width: 70px;
    height: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    text-align: center;
    font-size: 18px;
    color: rgb(83, 64, 54);
    opacity: 0.7;
  }

  /* .input-rowcol1 {
    grid-column: 1;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol2 {
    grid-column: 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol3 {
    grid-column: 1;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol4 {
    grid-column: 2;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol5 {
    grid-column: 1;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .input-rowcol6 {
    grid-column: 2;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  } */

  .input-rowcol7 {
    grid-column: 1 / span 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    width: 135px;
    height: 25px;
  }

  .input-rowcol8 {
    grid-column: 1 / span 2;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    width: 135px;
    height: 25px;
  }

  .input-rowcol9 {
    grid-column: 1 / span 2;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    width: 135px;
    height: 25px;
  }

  .input-rowcol10 {
    grid-column: 1;
    grid-row: 4;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    text-decoration: none;
  }

  .home-container {
    display: grid;
    grid-gap: 5vw;
    justify-content: space-evenly;
    margin-left: 3vw;
    margin-top: 20vh;
    float: left;
  }

  .home-row-col1 {
    grid-column: 1;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    text-decoration: none;
  }

  .home-row-col2 {
    grid-column: 1;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    text-decoration: none;
  }

  .home-row-col3 {
    grid-column: 1;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    text-decoration: none;
    width: 58px;
    height: 60px;
  }

  .home-row-col4 {
    grid-column: 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    text-decoration: none;
    width: 58px;
    height: 60px;
  }

  .createpet-container {
    display: grid;
    grid-gap: 0.5vw;
    justify-content: space-evenly;
    float: left;
    margin-left: 3vw;
  }

  .grid-images {
      width: 12vw;
      height: 14vh;
  }

  .chosen-pet {
    width: 240px;
    height: 210px;
  }

  .row-col1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col2 {
    grid-column: 1;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col3 {
    grid-column: 2;
    grid-row: 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col4 {
    grid-column: 1;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col5 {
    grid-column: 2;
    grid-row: 3;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
  }

  .row-col6 {
    grid-column: 3 / span 2;
    grid-row: 2 /span 2;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    /* padding-left: */
  }

  .petPage-container {
    display: grid;
    grid-gap: 30px;
    justify-content: space-evenly;
    float: left;
    padding-left: 30px;
  }

  .petPage-grid-images {
    width: 110px;
    height: 140px;
}

.petPage-row-col1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col2 {
  grid-column: 3;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col3 {
  grid-column: 4;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col4 {
  grid-column: 3;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col5 {
  grid-column: 4;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col6 {
  grid-column: 3;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col7 {
  grid-column: 4;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col8 {
  grid-column: 3;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col9 {
  grid-column: 4;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col10 {
  grid-column: 1 / span 2;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col11 {
  grid-column: 3;
  grid-row: 5;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-row-col12 {
  grid-column: 4;
  grid-row: 5;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.petPage-stats-title {
  font-family: Verdana, Arial, Helvetica, sans-serif;;
  text-align: center;
  font-size: 18px;
  color: rgb(36, 30, 27);
}

.user-info-container1 {
  display: grid;
  grid-gap: 25px;
  justify-content: space-evenly;
  float: left;
  padding-left: 30px;
}

.userPage-row-col1 {
  grid-column: 1 ;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col2 {
  grid-column: 1 ;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col3 {
  grid-column: 1;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col4 {
  grid-column: 2;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col5 {
  grid-column: 2;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-row-col6 {
  grid-column: 1;
  grid-row: 4;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.userPage-text {
  font-family: Verdana, Arial, Helvetica, sans-serif;;
  text-align: center;
  font-size: 15px;
  color: rgb(83, 64, 54);
  opacity: 0.7;
  padding-top: 6px;
}

.user-info-container2 {
display: grid;
grid-gap: 25px;
justify-content: space-evenly;
position: relative;
margin-left: auto;
margin-right: auto;
padding-left: 30px;
}

.userPage-row-col7 {
  grid-column: 1 / span 2;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-row-col8 {
  grid-column: 1 / span 2;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-row-col9 {
  grid-column: 1;
  grid-row: 5;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-row-col10 {
  grid-column: 2;
  grid-row: 5;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-row-col11 {
  grid-column: 1;
  grid-row: 6;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-row-col12 {
  grid-column: 2 ;
  grid-row: 6;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.userPage-petimg {
  width: 110px;
  height: 140px;
}

.feed-pet-container {
  display: grid;
  grid-gap: 45px;
  justify-content: space-evenly;
  float: left;
  padding-left: 30px;
}

.feed-pet-row-col1 {
  grid-column: 12 / span 2;
  grid-row: 1;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.feed-pet-row-col2 {
  grid-column: 12 / span 2;
  grid-row: 2;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.feed-pet-row-col3 {
  grid-column: 12 / span 2;
  grid-row: 3;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  text-align: center;
}

.progress-container {
  width: 170px;
  height: 18px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

@keyframes title{
  0%   {color:rgb(211, 40, 188)}
  25%  {color:rgb(53, 175, 212)}
  50%  {color:rgb(52, 216, 164)}
  75%  {color:rgb(63, 61, 172)}
  100% {color:rgb(145, 9, 133)}
}

/* The element to apply the animation to */
.happy-pet-title {
  font-size: 20px;
  font-family: 'Caveat Brush', cursive;
  position: relative;
  animation-name: title;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.welcome{
  font-size: 3.2vw;
  font-family: 'Caveat Brush', cursive;
  text-align: center;
  color: black;
}

.dropdown {
  width: 100px;
  height: 30px;
  color: rgb(3, 3, 3);
  background-color: white;
  border-style: solid;
  border-color: #555;
  border: 5px;
}





